<%-include('./menu/header')%>
    <center>
        <h3>Dashboard</h3>
    </center>
    <b>
        <a href="/products/addProducts">Add Products</a>
        <br>
        <a href="/products/addCatagory">Add Catagory</a>
        <br>
        <a href="/products/viewProducts">View Products</a>
    </b>
    <%-include('./menu/footer')%>