            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
  <!-- footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2017-
      <?php echo date("Y");?>
      <a href="https://greefitech.com">Greefi Technologies</a>.</strong> All rights reserved.
  </footer>
  </div>

    <script src="/assets/js/jquery-2.2.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/custome.js"></script>
  </body>
</html>